// NAVBAR

nav{
    display: flex;
    justify-content: center;

    height: 45px;
    width:  100vw;

    background-color: $navbar-bck-color;

    ul{
        display:flex;
        justify-content: space-between;

        height: 100%;
        width: 100%;
        max-width: 1000px;

        li{
            @extend %perfect-center;

            height: 100%;
            width: 75px;

            font: {
                family: $site-font-family;
                weight: 300;
                size: .85em;
            }
            
            color: $navbar-font-color;

            cursor: pointer;
            user-select: none;

            transition: .2s;

            &:hover{
                color: $navbar-hover-color;
                transition: .2s;
            }
        } // li

        li:nth-child(1){
            font-size: 1.25em;
        }

        li:nth-child(9){
            background: url(../imgs/icon-magnifying-glass.svg) no-repeat;
            background-position: center center;
        }

        li:nth-child(10){
            background: url(../imgs/icon-shopping-bag.svg) no-repeat;
            background-position: center center;
        }
    } // ul
} // #nav-bar